.player {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
  padding-left: 20%;
  background-color: lightgray;
}

.trackInfo {
  width: 200px;
  padding: 0 20px;
}

.artistInfo {
  font-size: 12px;
  color: gray;
}
