.trackCard {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.trackInfo {
  width: 200px;
  padding: 0 20px;
}

.trackName {
  font-size: 16px;
}

.trackArtist {
  font-size: 12px;
  color: gray;
}

.deleteButton {
  margin-left: auto;
}
